@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nu-logo {
  padding-top: 10px;
  padding-bottom: 10px;
}
.nu-logo-image {
  width: 8%;
}
.navbar-box-b {
  background-color: #35408e;
  color: white;
}
.navbar-box-y {
  background-color: #fcd41c;
  color: white;
  height: 4px;
}
.nav-icons {
  padding-left: 15px;
  font-size: 10px;
  color: white;
}

.carousel-caption {
  color: black;
}
.carousel-caption h5 {
  font-size: 80px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 25px;
  font-weight: 600;
}
.carousel-caption p {
  width: 60%;
  margin: auto;
  font-size: 30px;
  line-height: 1.9;
  font-weight: 500;
  font-size: 30px;
}
.carousel-inner::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}
.c-active {
  filter: blur(2px);
}
.rbutton {
  background-color: #fcd41c;
  color: black;
  width: 250px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 20px;
}
.banner {
  padding-top: 80px;
}
.about {
  padding-top: 80px;
  padding-bottom: 100px;
}
.about-txt,
.about-img {
  padding: 20px;
}
.about-txt p {
  padding: 30px;
}
.new-arrival {
  padding-top: 50px;
}
.card-text {
  padding: 10px;
}
.footer {
  margin-top: 50px;
}
.copy-right {
  font-size: 10px;
}
.footer-link4 {
  list-style: none;
}
.f-link1,
.footer-div {
  padding-top: 30px;
}
.f-links {
  display: flex;
  flex-direction: column;
  list-style: none;
}
.f-links a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}
.f-nu {
  font-size: 25px;
}
.profile-container {
  padding-top: 100px;
}
.profile-table1 {
  width: 100%;
}
.info-container,
.address-container {
  background-color: rgb(246, 248, 248);
  border: 0.5px solid rgb(209, 209, 209);
}
.info-container h3,
.address-container h3 {
  padding-top: 30px;
}
.profile-table1 td {
  padding: 5px;
}
.logout {
  padding: 30px;
}
.logout a {
  width: 50%;
}
.back-button {
  width: 30%;
  padding-top: 50px;
}
.sample-page {
  padding-top: 250px;
  padding-bottom: 250px;
}
.lib-nav {
  background-color: #e0c02f;
}
.b-line {
  background-color: #35408e;
  height: 4px;
}
.lib-nav-img {
  border-radius: 50px;
}
.lib-viewp-btn {
  border-radius: 30px;
}

.login-body {
  background-color: #fcd41c;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
.login-container {
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.login-container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.login-container span {
  font-size: 12px;
}

.login-container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.login-container button {
  background-color: #35408e;
  color: #fff;
  font-size: 12px;
  padding: 10px 45px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
}

.login-container button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.login-container form {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.login-container input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  outline: none;
}
.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}
.login-container.active .sign-in {
  transform: translateX(100%);
}
.sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}
.login-container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}
@keyframes move {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }
  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.social-icons {
  margin: 20px 0;
}
.social-icons a {
  border: 1px solid #ccc;
  border-radius: 20%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  border-radius: 150px 0 0 100px;
  z-index: 1000;
}

.login-container.active .toggle-container {
  transform: translateX(-100%);
  border-radius: 0 150px 100px 0;
}
.link a:hover {
  text-decoration: underline;
}
.toggle {
  background-color: #35408e;
  height: 100%;

  color: #fff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.login-container.active .toggle {
  transform: translateX(50%);
}

.toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 30px;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.toggle-left {
  transform: translateX(-200%);
}

.login-container.active .toggle-left {
  transform: translateX(0);
}

.toggle-right {
  right: 0;
  transform: translateX(0);
}

.login-container.active .toggle-right {
  transform: translateX(200%);
}
@media screen and (max-width: 600px) {
  .table-hide {
    display: none;
  }
  .student-table th,
  td,
  .btn {
    font-size: 12px;
    align-items: center;
  }
}
.lib-footer {
  background-color: #242424;
  padding-top: 70px;
}
.lib-footer-btm {
  background-color: rgb(20, 20, 20);
}
.lib-footer-txt {
  color: white;
  font-size: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer-img {
  padding-top: 30px;
  padding-bottom: 30px;
}
.lib-footer-links {
  color: rgb(177, 173, 173);
  font-size: 12px;
}
.lib-footer-div {
  justify-content: center;
  padding-bottom: 50px;
}
.student-data-title {
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 20px;
}
.student-table {
  border: 0.5px solid rgb(228, 228, 228);
}
.student-search {
  font-weight: 400;
}
